@use "../config/variables" as *;
/*=============== START VIDEOS ===============*/
.videos {
    padding: 50px 0px;
    .container {
        .box {
            max-width: 95%;
            margin: 0px auto;
            border: 1px solid $light-grey;
            background-color: $lighter-grey;
            background-color: $lighter-grey;

            .nav {
                .header {
                    box-shadow: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    background-color: rgba(227, 227, 227, 0.766);

                    h2 {
                        font-size: 1.1rem;
                    }
                    i {
                    }
                }
                ul {
                    background-color: white;
                    li {
                        line-height: 1.6;
                        padding: 15px;
                        border-top: 1px solid $light-grey;
                        cursor: pointer;
                        transition: 0.3s;
                        h2 {
                            font-size: 1rem;
                            font-weight: 500;
                            transition: 0.3s;
                        }
                        span {
                            color: grey;
                        }
                        &:hover {
                            background-color: rgba(241, 241, 241, 0.337);
                            h2 {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
            .content {
                padding: 10px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    max-width: 100%;
                }
                h2 {
                    font-size: 1.15rem;
                    padding: 20px;
                    font-weight: 500;
                    background-color: white;
                    margin-top: 5px;
                }
            }
        }
    }
}
/*=============== START VIDEOS ===============*/
